{
    "command":
    {
        "title":"", 
        "detail":"", 
        "instance":
        {
            "class":"\\zinux\\zg\\resources\\operator\\",
            "method":""
        },
        "help":
        {
            "command":"zg",
            "detail":""
        }
    }
}