{
        "command":
        {
                "title":"", 
                "alias":"",
                "instance":
                {
                        "class":"\\zinux\\zg\\resources\\operator\\",
                        "method":""
                },
                "help":
                {
                        "command":"zg",
                        "alias": "zf",
                        "detail":""
                },
                "options":
                {
                        "":""
                }
        }
}