{
    "command":
    {
        "title":"", 
        "detail":"", 
        "instance":
        {
            "class":"",
            "method":""
        },
        "help":
        {
            "command":"",
            "detail":""
        }
    }
}