{
    "command":
    {
        "title":"", 
        "alias":"",
        "instance":
        {
            "class":"\\zinux\\zg\\operators\\",
            "method":""
        },
        "help":
        {
            "command":"zg",
            "alias": "zg",
            "detail":""
        },
        "options":
        {
            "":""
        },
        "defaults":
        {
            "":""
        },
        "notes":
        [
            ""
        ]
    }
}